@import "../variables";

.Modal {
  position: absolute;
  top: 25%;
  left: 30%;
  right: 30%;
  bottom: 25%;
  background-color: lighten($baseBg, 10);
  box-shadow: $smShadow;
  opacity: 1;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  outline: none;
  border-radius: 3px;

  .footer {
    button {
      margin: 0 0.5rem;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($baseBg, 0.3);

}